*{
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

.listas{
    margin-left: 100px;
    padding: 20px;
    border: solid blue 2px;
    width: 40%;
    list-style: none; /*elimina los items*/
}

li{
    font-family: monospace;
    font-size: 18px;
    padding: 10px;

}
li:hover{
    background-color: rgba(0, 0, 0, 0.1); /* Cambia el fondo en el hover */
}

li>a{
    color: darkgreen;
    
}

 .naranja {
    color: orange;
}

h1{
    font-size: 24px;
    font-weight:900;
    color: #242424;
}

h2{
    font-size: 20px;
    color: #606060;
    font-weight: 800;
}

p{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

a{
    font-weight: bold;
}

