* {
    font-family: sans-serif;

}

#title {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    color: rgb(16, 15, 14);
}


form {
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    align-items: center;
}

#reusltado {
    font-weight: bold;
}

input {
    width: 100%;
    border-radius: 4px;
    padding: 4px;
    border: none;
    font-weight: bold;
}

button {
    width: 102%;
    padding: 4px;
    border-radius: 3px;
    background-color: rgb(213, 165, 20);
    font-size: 16px;
    font-weight: bold;
    border: none;
}
button:hover{
    background-color: darkgrey;
}
select {
    width: 102%;
    padding: 5px;
    border: none;
    border-radius: 4px;
}